<header> 
    <h2>Remember The Number</h2>
</header>
<section class="desc">
    <h5>Remember The Number is a Mind Power Game which tests how well you can remember long sequences of Numbers!</h5>
    <h5>The levels gets tougher and tougher as you go ahead and the length of the number increase by a factor of 10!</h5>
    <h5>Hope you enjoy this quick little game with your friends and family!</h5>
    <h5>Any feedbacks would be really appreaciated!</h5>
</section>
<section class="me">
    <h6>Made By Rounak Singh</h6>
    <a href="mailto:rounak2k@gmail.com"><h6>✉️ rounak2k@gmail.com</h6></a>
    <a href="http://linkedin.com/in/rounak2105/" target="_blank"><h6 style="color: blue;">💼 LinkedIn</h6></a>
</section>