header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}

h2 {
    font-family: 'Press Start 2P', cursive;
    background: red;
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet);
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.desc {
    display: inline;
    margin-top: 20vh;
    text-align: center;
}

h5 {
    font-family: 'Press Start 2P', cursive;
    background: red;
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet);
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 5vh;
}

.me {
    text-align: center;
    margin-top: 10vh;
}

h6 {
    font-family: 'Press Start 2P', cursive;
    color: red;
}