<header> 
    <h2>Remember The Number</h2>
</header>
<header> 
    <h4>Leaderboard</h4>
</header>
<section class="table">
    <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ldrBoardName[0]}}</td>
            <td>{{ldrBoardScore[0]}}</td>
          </tr>
          <tr>
            <td>{{ldrBoardName[1]}}</td>
            <td>{{ldrBoardScore[1]}}</td>
          </tr>
          <tr>
            <td>{{ldrBoardName[2]}}</td>
            <td>{{ldrBoardScore[2]}}</td>
          </tr>
        </tbody>
      </table>
</section>