@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.nav {
    position: fixed;
    top: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    font-size: 2vh;
}

.nav h5 {
    margin-right: 5vw;
    margin-bottom: 5vh;
    font-family: 'Press Start 2P', cursive;
    background: red;
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet);
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}

h2 {
    font-family: 'Press Start 2P', cursive;
    background: red;
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet);
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.level {
    display: flex;
    justify-content: center;
}

.window {
    margin: 15vh;
}

.game {
    display: flex;
    justify-content: center;
}

.start {
    display: flex;
    justify-content: center;
    font-family: 'Press Start 2P', cursive;
    background: rgb(254,252,234);
    background: -moz-linear-gradient(top,  rgba(254,252,234,1) 0%, rgba(241,218,54,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(254,252,234,1) 0%,rgba(241,218,54,1) 100%);
    background: linear-gradient(to bottom,  rgba(254,252,234,1) 0%,rgba(241,218,54,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 ); 
    width: 30vw;   
    margin: auto;
}

.counter {
    display: flex;
    justify-content: center;
    align-items: center;
}

h5 {
    font-family: 'Press Start 2P', cursive;
}

.guess {
    display: inline;
}

.input {
    font-weight: 100;
    vertical-align: middle;
    text-align: center;
    font-size: 1vw;
    border: 0px;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    font-family: 'Press Start 2P', cursive;
    background: rgb(254,252,234);
    max-width: 50vw;
    margin: auto;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    border-bottom: 1px solid black;
  }

  .submit {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    width: 20vw;
    padding-top: 10px;
    padding-bottom: 10px ;
    margin: auto;
    background: rgb(254,252,234);
    background: -moz-linear-gradient(top,  rgba(254,252,234,1) 0%, rgba(241,218,54,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(254,252,234,1) 0%,rgba(241,218,54,1) 100%);
    background: linear-gradient(to bottom,  rgba(254,252,234,1) 0%,rgba(241,218,54,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 );    
  }

  p {
    font-family: 'Press Start 2P', cursive;
    color: red;
    display: inline;
  }

  @media screen and (max-width: 600px) {
    .submit {
        width: 50vw;
    }

    .input {
        font-size: 3vw;
        margin: auto;
    }

  }